<div class="card offset-2 col-md-8">
  <div class="card-header bg-info text-white">
    <h4>Détails du produit {{id}}</h4>
  </div>
  <div class="card-body">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td scope="row">Numéro</td>
            <td>{{produit?.id}}</td>
          </tr>
          <tr>
            <td scope="row">Nom du produit</td>
            <td>{{produit?.nom}}</td>
          </tr>
          <tr>
            <td scope="row">Prix Unitaire</td>
            <td>{{produit?.prixUnitaire}}</td>
          </tr>
        </tbody>
      </table>
  </div>

</div>
